.schedule-wrapper {
  overflow: hidden;
}

.schedule-wrapper .schedule {
  display: flex;
  width: 100%;
}

.schedule-wrapper .schedule .schedule__sidebar::before {
  content: "";
  display: block;
  background-color: #000;
  height: 4.25em;
  width: 100%;
}

.schedule-wrapper .schedule .schedule__sidebar .schedule__label {
  display: flex;
  height: 4.25em;
  align-items: center;
  border: 1px solid black;
}

.schedule-wrapper .schedule .schedule__scrollable {
  flex: 1;
  overflow-x: auto;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row {
  display: inline-flex;
  height: 4.25em;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="1"] {
  width: 4px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="2"] {
  width: 8px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="3"] {
  width: 12px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="4"] {
  width: 16px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="5"] {
  width: 20px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="6"] {
  width: 24px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="7"] {
  width: 28px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="8"] {
  width: 32px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="9"] {
  width: 36px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="10"] {
  width: 40px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="11"] {
  width: 44px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="12"] {
  width: 48px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="13"] {
  width: 52px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="14"] {
  width: 56px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="15"] {
  width: 60px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="16"] {
  width: 64px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="17"] {
  width: 68px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="18"] {
  width: 72px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="19"] {
  width: 76px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="20"] {
  width: 80px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="21"] {
  width: 84px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="22"] {
  width: 88px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="23"] {
  width: 92px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="24"] {
  width: 96px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="25"] {
  width: 100px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="26"] {
  width: 104px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="27"] {
  width: 108px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="28"] {
  width: 112px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="29"] {
  width: 116px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="30"] {
  width: 120px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="31"] {
  width: 124px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="32"] {
  width: 128px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="33"] {
  width: 132px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="34"] {
  width: 136px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="35"] {
  width: 140px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="36"] {
  width: 144px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="37"] {
  width: 148px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="38"] {
  width: 152px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="39"] {
  width: 156px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="40"] {
  width: 160px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="41"] {
  width: 164px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="42"] {
  width: 168px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="43"] {
  width: 172px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="44"] {
  width: 176px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="45"] {
  width: 180px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="46"] {
  width: 184px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="47"] {
  width: 188px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="48"] {
  width: 192px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="49"] {
  width: 196px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="50"] {
  width: 200px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="51"] {
  width: 204px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="52"] {
  width: 208px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="53"] {
  width: 212px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="54"] {
  width: 216px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="55"] {
  width: 220px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="56"] {
  width: 224px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="57"] {
  width: 228px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="58"] {
  width: 232px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="59"] {
  width: 236px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="60"] {
  width: 240px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="61"] {
  width: 244px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="62"] {
  width: 248px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="63"] {
  width: 252px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="64"] {
  width: 256px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="65"] {
  width: 260px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="66"] {
  width: 264px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="67"] {
  width: 268px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="68"] {
  width: 272px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="69"] {
  width: 276px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="70"] {
  width: 280px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="71"] {
  width: 284px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="72"] {
  width: 288px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="73"] {
  width: 292px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="74"] {
  width: 296px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="75"] {
  width: 300px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="76"] {
  width: 304px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="77"] {
  width: 308px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="78"] {
  width: 312px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="79"] {
  width: 316px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="80"] {
  width: 320px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="81"] {
  width: 324px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="82"] {
  width: 328px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="83"] {
  width: 332px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="84"] {
  width: 336px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="85"] {
  width: 340px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="86"] {
  width: 344px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="87"] {
  width: 348px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="88"] {
  width: 352px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="89"] {
  width: 356px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="90"] {
  width: 360px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="91"] {
  width: 364px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="92"] {
  width: 368px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="93"] {
  width: 372px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="94"] {
  width: 376px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="95"] {
  width: 380px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="96"] {
  width: 384px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="97"] {
  width: 388px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="98"] {
  width: 392px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="99"] {
  width: 396px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="100"] {
  width: 400px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="101"] {
  width: 404px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="102"] {
  width: 408px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="103"] {
  width: 412px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="104"] {
  width: 416px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="105"] {
  width: 420px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="106"] {
  width: 424px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="107"] {
  width: 428px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="108"] {
  width: 432px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="109"] {
  width: 436px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="110"] {
  width: 440px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="111"] {
  width: 444px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="112"] {
  width: 448px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="113"] {
  width: 452px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="114"] {
  width: 456px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="115"] {
  width: 460px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="116"] {
  width: 464px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="117"] {
  width: 468px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="118"] {
  width: 472px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="119"] {
  width: 476px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="120"] {
  width: 480px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="121"] {
  width: 484px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="122"] {
  width: 488px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="123"] {
  width: 492px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="124"] {
  width: 496px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="125"] {
  width: 500px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="126"] {
  width: 504px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="127"] {
  width: 508px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="128"] {
  width: 512px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="129"] {
  width: 516px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="130"] {
  width: 520px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="131"] {
  width: 524px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="132"] {
  width: 528px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="133"] {
  width: 532px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="134"] {
  width: 536px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="135"] {
  width: 540px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="136"] {
  width: 544px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="137"] {
  width: 548px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="138"] {
  width: 552px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="139"] {
  width: 556px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="140"] {
  width: 560px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="141"] {
  width: 564px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="142"] {
  width: 568px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="143"] {
  width: 572px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="144"] {
  width: 576px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="145"] {
  width: 580px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="146"] {
  width: 584px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="147"] {
  width: 588px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="148"] {
  width: 592px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="149"] {
  width: 596px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="150"] {
  width: 600px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="151"] {
  width: 604px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="152"] {
  width: 608px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="153"] {
  width: 612px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="154"] {
  width: 616px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="155"] {
  width: 620px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="156"] {
  width: 624px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="157"] {
  width: 628px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="158"] {
  width: 632px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="159"] {
  width: 636px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="160"] {
  width: 640px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="161"] {
  width: 644px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="162"] {
  width: 648px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="163"] {
  width: 652px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="164"] {
  width: 656px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="165"] {
  width: 660px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="166"] {
  width: 664px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="167"] {
  width: 668px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="168"] {
  width: 672px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="169"] {
  width: 676px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="170"] {
  width: 680px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="171"] {
  width: 684px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="172"] {
  width: 688px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="173"] {
  width: 692px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="174"] {
  width: 696px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="175"] {
  width: 700px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="176"] {
  width: 704px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="177"] {
  width: 708px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="178"] {
  width: 712px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="179"] {
  width: 716px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="180"] {
  width: 720px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="181"] {
  width: 724px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="182"] {
  width: 728px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="183"] {
  width: 732px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="184"] {
  width: 736px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="185"] {
  width: 740px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="186"] {
  width: 744px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="187"] {
  width: 748px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="188"] {
  width: 752px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="189"] {
  width: 756px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="190"] {
  width: 760px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="191"] {
  width: 764px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="192"] {
  width: 768px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="193"] {
  width: 772px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="194"] {
  width: 776px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="195"] {
  width: 780px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="196"] {
  width: 784px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="197"] {
  width: 788px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="198"] {
  width: 792px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="199"] {
  width: 796px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="200"] {
  width: 800px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="201"] {
  width: 804px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="202"] {
  width: 808px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="203"] {
  width: 812px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="204"] {
  width: 816px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="205"] {
  width: 820px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="206"] {
  width: 824px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="207"] {
  width: 828px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="208"] {
  width: 832px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="209"] {
  width: 836px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="210"] {
  width: 840px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="211"] {
  width: 844px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="212"] {
  width: 848px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="213"] {
  width: 852px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="214"] {
  width: 856px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="215"] {
  width: 860px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="216"] {
  width: 864px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="217"] {
  width: 868px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="218"] {
  width: 872px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="219"] {
  width: 876px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="220"] {
  width: 880px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="221"] {
  width: 884px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="222"] {
  width: 888px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="223"] {
  width: 892px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="224"] {
  width: 896px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="225"] {
  width: 900px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="226"] {
  width: 904px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="227"] {
  width: 908px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="228"] {
  width: 912px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="229"] {
  width: 916px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="230"] {
  width: 920px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="231"] {
  width: 924px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="232"] {
  width: 928px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="233"] {
  width: 932px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="234"] {
  width: 936px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="235"] {
  width: 940px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="236"] {
  width: 944px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="237"] {
  width: 948px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="238"] {
  width: 952px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="239"] {
  width: 956px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="240"] {
  width: 960px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="241"] {
  width: 964px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="242"] {
  width: 968px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="243"] {
  width: 972px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="244"] {
  width: 976px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="245"] {
  width: 980px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="246"] {
  width: 984px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="247"] {
  width: 988px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="248"] {
  width: 992px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="249"] {
  width: 996px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="250"] {
  width: 1000px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="251"] {
  width: 1004px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="252"] {
  width: 1008px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="253"] {
  width: 1012px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="254"] {
  width: 1016px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="255"] {
  width: 1020px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="256"] {
  width: 1024px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="257"] {
  width: 1028px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="258"] {
  width: 1032px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="259"] {
  width: 1036px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="260"] {
  width: 1040px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="261"] {
  width: 1044px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="262"] {
  width: 1048px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="263"] {
  width: 1052px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="264"] {
  width: 1056px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="265"] {
  width: 1060px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="266"] {
  width: 1064px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="267"] {
  width: 1068px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="268"] {
  width: 1072px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="269"] {
  width: 1076px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="270"] {
  width: 1080px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="271"] {
  width: 1084px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="272"] {
  width: 1088px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="273"] {
  width: 1092px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="274"] {
  width: 1096px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="275"] {
  width: 1100px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="276"] {
  width: 1104px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="277"] {
  width: 1108px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="278"] {
  width: 1112px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="279"] {
  width: 1116px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="280"] {
  width: 1120px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="281"] {
  width: 1124px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="282"] {
  width: 1128px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="283"] {
  width: 1132px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="284"] {
  width: 1136px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="285"] {
  width: 1140px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="286"] {
  width: 1144px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="287"] {
  width: 1148px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="288"] {
  width: 1152px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="289"] {
  width: 1156px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="290"] {
  width: 1160px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="291"] {
  width: 1164px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="292"] {
  width: 1168px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="293"] {
  width: 1172px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="294"] {
  width: 1176px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="295"] {
  width: 1180px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="296"] {
  width: 1184px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="297"] {
  width: 1188px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="298"] {
  width: 1192px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="299"] {
  width: 1196px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="300"] {
  width: 1200px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="301"] {
  width: 1204px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="302"] {
  width: 1208px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="303"] {
  width: 1212px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="304"] {
  width: 1216px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="305"] {
  width: 1220px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="306"] {
  width: 1224px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="307"] {
  width: 1228px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="308"] {
  width: 1232px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="309"] {
  width: 1236px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="310"] {
  width: 1240px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="311"] {
  width: 1244px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="312"] {
  width: 1248px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="313"] {
  width: 1252px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="314"] {
  width: 1256px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="315"] {
  width: 1260px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="316"] {
  width: 1264px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="317"] {
  width: 1268px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="318"] {
  width: 1272px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="319"] {
  width: 1276px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="320"] {
  width: 1280px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="321"] {
  width: 1284px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="322"] {
  width: 1288px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="323"] {
  width: 1292px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="324"] {
  width: 1296px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="325"] {
  width: 1300px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="326"] {
  width: 1304px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="327"] {
  width: 1308px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="328"] {
  width: 1312px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="329"] {
  width: 1316px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="330"] {
  width: 1320px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="331"] {
  width: 1324px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="332"] {
  width: 1328px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="333"] {
  width: 1332px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="334"] {
  width: 1336px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="335"] {
  width: 1340px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="336"] {
  width: 1344px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="337"] {
  width: 1348px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="338"] {
  width: 1352px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="339"] {
  width: 1356px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="340"] {
  width: 1360px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="341"] {
  width: 1364px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="342"] {
  width: 1368px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="343"] {
  width: 1372px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="344"] {
  width: 1376px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="345"] {
  width: 1380px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="346"] {
  width: 1384px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="347"] {
  width: 1388px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="348"] {
  width: 1392px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="349"] {
  width: 1396px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="350"] {
  width: 1400px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="351"] {
  width: 1404px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="352"] {
  width: 1408px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="353"] {
  width: 1412px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="354"] {
  width: 1416px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="355"] {
  width: 1420px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="356"] {
  width: 1424px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="357"] {
  width: 1428px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="358"] {
  width: 1432px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="359"] {
  width: 1436px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="360"] {
  width: 1440px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="361"] {
  width: 1444px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="362"] {
  width: 1448px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="363"] {
  width: 1452px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="364"] {
  width: 1456px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="365"] {
  width: 1460px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="366"] {
  width: 1464px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="367"] {
  width: 1468px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="368"] {
  width: 1472px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="369"] {
  width: 1476px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="370"] {
  width: 1480px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="371"] {
  width: 1484px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="372"] {
  width: 1488px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="373"] {
  width: 1492px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="374"] {
  width: 1496px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="375"] {
  width: 1500px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="376"] {
  width: 1504px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="377"] {
  width: 1508px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="378"] {
  width: 1512px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="379"] {
  width: 1516px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="380"] {
  width: 1520px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="381"] {
  width: 1524px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="382"] {
  width: 1528px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="383"] {
  width: 1532px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="384"] {
  width: 1536px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="385"] {
  width: 1540px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="386"] {
  width: 1544px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="387"] {
  width: 1548px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="388"] {
  width: 1552px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="389"] {
  width: 1556px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="390"] {
  width: 1560px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="391"] {
  width: 1564px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="392"] {
  width: 1568px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="393"] {
  width: 1572px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="394"] {
  width: 1576px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="395"] {
  width: 1580px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="396"] {
  width: 1584px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="397"] {
  width: 1588px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="398"] {
  width: 1592px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="399"] {
  width: 1596px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row [data-time="400"] {
  width: 1600px;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row > div {
  border: 1px solid #999;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row .schedule__header {
  background-color: #000;
  color: #FFF;
  align-items: stretch;
  justify-content: center;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row .set-block {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  background-color: #444;
  flex-shrink: 0;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row .set-block .set-block__text {
  flex: 1;
  overflow: hidden;
  padding: .25em;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row .set-block .set-block__text img {
  display: block;
  height: 3em;
  width: auto;
  padding-right: .5em;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row .set-block .set-block__text span {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.schedule-wrapper .schedule .schedule__scrollable .schedule__row .set-block:hover .set-block__text {
  position: relative;
  overflow: visible;
  background-color: #000;
  z-index: 9;
  width: 100%;
}
